# Node
node_modules/
dist/
.env

# Java / Maven
target/
*.class
*.jar
.mvn/wrapper/maven-wrapper.jar
StudentManagementSystemBackend/.mvn/wrapper/maven-wrapper.jar
StudentManagementSystemBackend/target/

# IDE
.metadata/
*.metadata/
.idea/
*.iml
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Environment
.env
*.env.local

# Logs
*.log
logs/

# Spring Boot
HELP.md
